@model ETicaret.WebUI.Models.ShoppingCart
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Sepet Özeti</h1>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ürünün Adı</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Adet</th>
            <th scope="col">###</th>
        </tr>
    </thead> 
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td><a class="btn btn-danger" asp-controller="Cart" asp-action="RemoveToCart" asp-route-id="@item.ID">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

<p>Toplam Fiyat : @Model.TotalAmount</p>

<br />

<div class="container">
    <div class="row">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary col-md-4">Alışverişe Devam Et</a>
        <a asp-controller="#" asp-action="#" class="btn btn-success col-md-4">Ödeme Yap</a>
        <a asp-controller="Cart" asp-action="ClearCart" class="btn btn-danger col-md-4">Sepeti Boşalt</a>
    </div>
</div>